header {
    padding-top: 40px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    .logo {
        font-size: 26px;
        font-family: $ff;
        line-height: 20px;
        font-weight: bold;
    }

    .header__links {
        display: flex;
        justify-content: center;
        align-items: center;

        .header__menu {
            display: flex;

            .menu__item {
                list-style-type: none;
                padding-right: 15px;

                .links {
                    font-family: $ff;
                    font-size: $fz__header;
                    text-decoration: none;
                    color: #000;
                }
            }

            .menu__item:last-child {
                padding-right: 0px;
            }
        }
    }
}

