#root {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);;
}      
       
       // ******************HOMEPAGE***************//
.mainPage {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container__home {
    padding-top: 100px;
    // @extend .wrapper;
    // @extend .display;
    display: flex;
    justify-content: space-between;

    .about__me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // @extend .display__column;
        height: 350px;
        width: 43%;
        span {
            font-weight: bold;
            font-size: $fz__main__title;
            font-family: $ff;
            margin-bottom: 40px;
        } 
        
        p {
            text-align: justify;
            font-size: $fz__main__offer;
            font-family: $ff;
            line-height: 24px;  
            margin-bottom: 40px;
        }

        a {
            width: 200px;
            height: 30px;
            background: #000;
            color: #fff;
            text-align: center;
            display: inline-block;
            padding: 8px 20px;
            border-radius: 40px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }
    }
}

 // ******************ABOUT ME PAGE***************//
.main__about__me {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .main__container__about__me {
        display: flex;
        justify-content: space-between;

        .info__about__me {
            width: 50%;
            display: flex;
            justify-content: space-around;
            flex-direction: column ;

            h1 {
                font-family: $ff__header;
            }

            p {
                font-size: 20px;
                font-family: $ff;
                line-height: 30px;
            }
        }

        .skills__about__me {
            width: 41.5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            // Education first column

            .education {
                display: flex;
                flex-direction: column;
                text-transform:uppercase;
                justify-content: space-between;
                height: 200px;
                margin-bottom: 20px;
                .university, .another__education {
                    display: flex;
                    flex-direction: column;
                    
                    span {
                        padding-bottom: 10px;
                        font-weight: bold;
                        font-family: $ff;
                    }

                    p {
                        font-size: 18px;
                        font-family: $ff;
                    }
                }

                .another__education {
                    margin-top: 10px;
                }

                
            }

                // Skills -- second column
                .skills {
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    width: 500px;

                    .progress {
                        display: flex;
                        padding: 5px 0px 5px 0px;
                        justify-content: space-between;

                        .progress__bar {
                            display: flex;
                            background: #fff;
                            width: 300px;
                            border: 1px solid #000;

                            .photoshop {
                                width: 100%;
                                background: #000;
                            }
                    
                            .figma {
                                width: 80%;
                                background: #000;;
                            }
                    
                            .illustrator {
                                width: 70%;
                                background: #000;;
                            }
                    
                            .tilda {
                                width: 93%;
                                background: #000;;
                            }
                    
                            .html, .css {
                                width: 50%;
                                background: #000;;
                            }
                        }
                    }
                }
        }

    }
}

 // ******************CONTACTS PAGE***************//

 .main__contacts {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .main__container__contacts {
    width: 91.5%;
    display: flex;
    justify-content: space-around;
    .discuss {
        height: 450px;
        border: 5px solid #000;
        padding: 10px 50px 10px 50px;
        display: flex;
        flex-direction: column;
        h1 {
            font-family: $ff;
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        
        .input__line {
            width: 100%;
            height: 2px;
            background: #000;
        }

        .default { 
            background: transparent;
            font-size: 20px;
            font-family: $ff;
            border: 0px;
            margin: 15px 0px 15px 0px;
            width: 100%;
            height: 100px;
        }

        .business {
            background: transparent;
            font-family: $ff;
            font-size: 20px;
            margin: 15px 0px 15px 0px;
            width: 100%;
            height: 90%;
        }

        .confirm {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            width: 100%;
            height: 160px;
            font-size: 26px;
            font-family: $ff;
            padding: 10px auto;
            color: #fff;
            cursor: pointer;
            border: 0px;
        }
    }

        .contact__container {
            display: flex;
            width: 30%;
            justify-content: space-around;

            .container__line {
                height: 5px;
                border: 2px solid #000;
                width: 100%;
                background: #000;
            }
        }

        .contact__info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .office, .get__in__touch, .social__network {
                border: 2px solid #000;
                padding: 15px;
                font-size: 20px;
                font-family: $ff;
                line-height: 30px;
            }

            .social__network {

                .social__menu {
                    display: flex;
                    justify-content: space-between;

                    .social__items {
                        list-style-type: none;

                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .contacts__line {
            width: 5px;
            background: #000;
            height: 100%;
            border: 1px solid #000;
        }
}



// ******************PORTFOLIO PAGE***************//

.portfolio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio > .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__container__portfolio {
    border: 2px solid #000;
    padding: 40px;
}


// ******************SERVICE PAGE***************//

.services {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.services__container {
    display: flex;
    flex-direction: column;

    .service__title {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service__info {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;

        .service__card {
            width: 300px;
            height: 340px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px;
            border: 5px solid transparent;
            .service__price {
                font-size: 26px;
                font-family: $ff;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .service__offer {
                font-family: $ff;
                display: flex;
                flex-direction: column;
                height: 100px;
                justify-content: space-between;

                .duration, .number__of__photos, .consultation{
                    font-size: 20px;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid #000;
                }
            }

            
            .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                .submit__service {
                    background: #000;
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-family: $ff;
                    width: 50%;
                    height: 40px;
                }
            }
            
        }

        .service__card:hover {
            padding: 25px;
            border: 5px solid #000;
        }
    }
}

@media screen and (min-width: 1440px){
    .wrapper {
        width: 1324px;
        margin: 0 auto;
    }
    
    .avatar {
        width: 60vh;
        height: 60vh;
        padding-right: 150px;
    }
}


@media screen and (min-width: 1202px) and (max-width: 1439px) {
    .wrapper {
        width: 1101px;
        margin: 0 auto;
    }

    .about__me {
        width: 470px;
    }
}

@media screen and (min-width: 1120px) and (max-width: 1201px){
    .wrapper {
        width: 1040px;
        margin: 0 auto;
    }

    .about__me {
        width: 470px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1119px) {
    .wrapper {
        width: 964px;
        margin: 0 auto;
    }

    .main__container {
        padding-top: 70px;
    }
    .about__me {
        width: 470px;
    }
}

@media screen and (min-width: 941px) and (max-width: 1023px) {
    .wrapper {
        width: 890px;
        margin: 0 auto;
    }

    .main__container {
        padding-top: 60px;

        .about__me {
            height: auto;    
            width: 400px;
            span {
                font-weight: bold;
                font-size: 20px;
                font-family: $ff;
                margin-bottom: 30px;
            } 
            
            p {
                font-size: 20px;
                font-family: $ff;
                line-height: 24px;  
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width: 890px) and (max-width: 940px) {
    .wrapper {
        width: 850px;
        margin: 0 auto;
    }

    .main__container__home {
        padding-top: 60px;
       
        .about__me {
            height: auto;    
            width: 350px;
            span {
                font-weight: bold;
                font-size: 20px;
                font-family: $ff;
                margin-bottom: 30px;
            } 
            
            p {
                font-size: 20px;
                font-family: $ff;
                line-height: 24px;  
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 890px) {
    .wrapper {
        width: 738px;
        margin: 0 auto;
    }

    .main__container__home {
        padding-top: 60px;

        .about__me {
            height: auto;    
        }
    }
}

@media screen and (min-width: 612px) and (max-width: 768px) {
    .wrapper {
        width: 571px;
        margin: 0 auto;
    }

    .main__container__home {
        position: relative;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        .about__me {
            margin: 0 auto;
            height: auto;    
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 400px;
            span {
                font-weight: bold;
                font-size: $fz__main__title;
                font-family: $ff;
                margin-bottom: 40px;
                text-align: center;
            } 
            
            p {
                text-align: center;
                font-size: $fz__main__offer;
                font-family: $ff;
                line-height: 24px;  
                margin-bottom: 40px;
            }
    
            a {
                margin: 0 auto;
                width: 200px;
                height: 30px;
                background: #000;
                color: #fff;
                text-align: center;
                display: inline-block;
                padding: 8px 20px; 
                border-radius: 40px;
                font-weight: 500;
                letter-spacing: 1px;
                text-decoration: none;
                margin-bottom: 30px;
            }
         }

    }
}

@media screen and (min-width: 425px) and (max-width: 611px) {
    .wrapper {
        width: 405px;
        margin: 0 auto;
    }

    .main__container__home {
        position: relative;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        .about__me {
            margin: 0 auto;
            height: auto;    
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 400px;
            span {
                font-weight: bold;
                font-size: $fz__main__title;
                font-family: $ff;
                margin-bottom: 40px;
                text-align: center;
            } 
            
            p {
                text-align: center;
                font-size: $fz__main__offer;
                font-family: $ff;
                line-height: 24px;  
                margin-bottom: 40px;
            }
    
            a {
                margin: 0 auto;
                width: 200px;
                height: 30px;
                background: #000;
                color: #fff;
                text-align: center;
                display: inline-block;
                padding: 8px 20px;
                border-radius: 40px;
                font-weight: 500;
                letter-spacing: 1px;
                text-decoration: none;
                margin-bottom: 30px;
            }
         }
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {

    .main__container__home {
        padding-top: 50px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
        .about__me {
            height: auto;    
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            span {
                font-weight: bold;
                font-size: 20px;
                font-family: $ff;
                margin-bottom: 40px;
                text-align: center;
            } 
            
            p {
                text-align: center;
                font-size: $fz__main__offer;
                font-family: $ff;
                line-height: 24px;  
                margin-bottom: 40px;
            }
    
            a {
                margin: 0 auto;
                width: 200px;
                height: 30px;
                background: #000;
                color: #fff;
                text-align: center;
                display: inline-block;
                padding: 8px 20px;
                border-radius: 40px;
                font-weight: 500;
                letter-spacing: 1px;
                text-decoration: none;
                margin-bottom: 30px;
            }
         }
    
        .profile__picture {
            width: 205px;
            margin: 0 auto;
        }
    }
}