//$ff : "Roboto Condensed", sans-serif;
$ff : 'Josefin Sans', sans-serif;
$ff__header: 'Indie Flower', cursive;
// $ff: 'Poppins', sans-serif;
$fz__main__offer: 20px;
$fz__main__title: 24px;
$fz__header: 20px;
