* {
  padding: 0;
  margin: 0;
}

.back__gradient {
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.circle {
  width: 100%;
  height: 100%;
}

.profile__picture {
  width: 100%;
  height: auto;
}

header {
  padding-top: 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__container .logo {
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
  font-weight: bold;
}
.header__container .header__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container .header__links .header__menu {
  display: flex;
}
.header__container .header__links .header__menu .menu__item {
  list-style-type: none;
  padding-right: 15px;
}
.header__container .header__links .header__menu .menu__item .links {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.header__container .header__links .header__menu .menu__item:last-child {
  padding-right: 0px;
}

.mainPage {
  overflow: hidden;
  padding-top: 33px;
}

.main__container__home {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.main__container__home .about__me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 43%;
}
.main__container__home .about__me span {
  font-weight: bold;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 40px;
}
.main__container__home .about__me p {
  text-align: justify;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 24px;
  margin-bottom: 40px;
}
.main__container__home .about__me a {
  width: 200px;
  height: 30px;
  background: #000;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.main__about__me {
  overflow: hidden;
  padding-top: 70px;
}
.main__about__me .main__container__about__me {
  display: flex;
  justify-content: space-between;
}
.main__about__me .main__container__about__me .info__about__me {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.main__about__me .main__container__about__me .info__about__me h1 {
  font-family: "Roboto Condensed", sans-serif;
}
.main__about__me .main__container__about__me .info__about__me p {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
}
.main__about__me .main__container__about__me .skills__about__me {
  width: 41.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__about__me .main__container__about__me .skills__about__me .education {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-between;
  height: 200px;
  margin-bottom: 20px;
}
.main__about__me .main__container__about__me .skills__about__me .education .university, .main__about__me .main__container__about__me .skills__about__me .education .another__education {
  display: flex;
  flex-direction: column;
}
.main__about__me .main__container__about__me .skills__about__me .education .university span, .main__about__me .main__container__about__me .skills__about__me .education .another__education span {
  padding-bottom: 10px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}
.main__about__me .main__container__about__me .skills__about__me .education .university p, .main__about__me .main__container__about__me .skills__about__me .education .another__education p {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}
.main__about__me .main__container__about__me .skills__about__me .education .another__education {
  margin-top: 10px;
}
.main__about__me .main__container__about__me .skills__about__me .skills {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.main__about__me .main__container__about__me .skills__about__me .skills .progress {
  display: flex;
  padding: 5px 0px 5px 0px;
  justify-content: space-between;
}
.main__about__me .main__container__about__me .skills__about__me .skills .progress .progress__bar {
  display: flex;
  background: #fff;
  width: 300px;
  border: 1px solid #000;
}
.main__about__me .main__container__about__me .skills__about__me .skills .progress .progress__bar .photoshop {
  width: 100%;
  background: #000;
}
.main__about__me .main__container__about__me .skills__about__me .skills .progress .progress__bar .figma {
  width: 80%;
  background: #000;
}
.main__about__me .main__container__about__me .skills__about__me .skills .progress .progress__bar .illustrator {
  width: 70%;
  background: #000;
}
.main__about__me .main__container__about__me .skills__about__me .skills .progress .progress__bar .tilda {
  width: 93%;
  background: #000;
}
.main__about__me .main__container__about__me .skills__about__me .skills .progress .progress__bar .html, .main__about__me .main__container__about__me .skills__about__me .skills .progress .progress__bar .css {
  width: 50%;
  background: #000;
}

.main__contacts {
  height: 100vh;
  overflow: hidden;
  padding-top: 140px;
}

.main__container__contacts {
  width: 91.5%;
  display: flex;
  justify-content: space-around;
}
.main__container__contacts .discuss {
  height: 450px;
  border: 5px solid #000;
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-direction: column;
}
.main__container__contacts .discuss h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main__container__contacts .discuss .input__line {
  width: 100%;
  height: 2px;
  background: #000;
}
.main__container__contacts .discuss .default {
  background: transparent;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  border: 0px;
  margin: 15px 0px 15px 0px;
  width: 100%;
  height: 100px;
}
.main__container__contacts .discuss .business {
  background: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  margin: 15px 0px 15px 0px;
  width: 100%;
  height: 90%;
}
.main__container__contacts .discuss .confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  height: 160px;
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px auto;
  color: #fff;
  cursor: pointer;
  border: 0px;
}
.main__container__contacts .contact__container {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.main__container__contacts .contact__container .container__line {
  height: 5px;
  border: 2px solid #000;
  width: 100%;
  background: #000;
}
.main__container__contacts .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__container__contacts .contact__info .office, .main__container__contacts .contact__info .get__in__touch, .main__container__contacts .contact__info .social__network {
  border: 2px solid #000;
  padding: 15px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
}
.main__container__contacts .contact__info .social__network .social__menu {
  display: flex;
  justify-content: space-between;
}
.main__container__contacts .contact__info .social__network .social__menu .social__items {
  list-style-type: none;
}
.main__container__contacts .contact__info .social__network .social__menu .social__items a {
  text-decoration: none;
}
.main__container__contacts .contacts__line {
  width: 5px;
  background: #000;
  height: 100%;
  border: 1px solid #000;
}

.portfolio {
  width: 100vh;
  padding-top: 100px;
}

.portfolio > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container__portfolio {
  border: 2px solid #000;
  padding: 40px;
}

.services {
  overflow: hidden;
  padding-top: 170px;
  height: 100vh;
}

.services__container {
  display: flex;
  flex-direction: column;
}
.services__container .service__title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__container .service__info {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.services__container .service__info .service__card {
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__container .service__info .service__card .service__price {
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__container .service__info .service__card .service__offer {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}
.services__container .service__info .service__card .service__offer .duration, .services__container .service__info .service__card .service__offer .number__of__photos, .services__container .service__info .service__card .service__offer .consultation {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}
.services__container .service__info .service__card .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__container .service__info .service__card .button .submit__service {
  background: #000;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  width: 50%;
  height: 40px;
}
.services__container .service__info .service__card:hover {
  transition: initial;
  padding: 15px;
  border: 5px solid #000;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1324px;
    margin: 0 auto;
  }

  .avatar {
    padding-right: 150px;
  }
}
@media screen and (min-width: 1202px) and (max-width: 1439px) {
  .wrapper {
    width: 1101px;
    margin: 0 auto;
  }

  .about__me {
    width: 470px;
  }
}
@media screen and (min-width: 1120px) and (max-width: 1201px) {
  .wrapper {
    width: 1040px;
    margin: 0 auto;
  }

  .about__me {
    width: 470px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1119px) {
  .wrapper {
    width: 964px;
    margin: 0 auto;
  }

  .main__container {
    padding-top: 70px;
  }

  .about__me {
    width: 470px;
  }
}
@media screen and (min-width: 941px) and (max-width: 1023px) {
  .wrapper {
    width: 890px;
    margin: 0 auto;
  }

  .main__container {
    padding-top: 60px;
  }
  .main__container .about__me {
    height: auto;
    width: 400px;
  }
  .main__container .about__me span {
    font-weight: bold;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 30px;
  }
  .main__container .about__me p {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 890px) and (max-width: 940px) {
  .wrapper {
    width: 850px;
    margin: 0 auto;
  }

  .main__container__home {
    padding-top: 60px;
  }
  .main__container__home .about__me {
    height: auto;
    width: 350px;
  }
  .main__container__home .about__me span {
    font-weight: bold;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 30px;
  }
  .main__container__home .about__me p {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 890px) {
  .wrapper {
    width: 738px;
    margin: 0 auto;
  }

  .main__container__home {
    padding-top: 60px;
  }
  .main__container__home .about__me {
    height: auto;
  }
}
@media screen and (min-width: 612px) and (max-width: 768px) {
  .wrapper {
    width: 571px;
    margin: 0 auto;
  }

  .main__container__home {
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .main__container__home .about__me {
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }
  .main__container__home .about__me span {
    font-weight: bold;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 40px;
    text-align: center;
  }
  .main__container__home .about__me p {
    text-align: center;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .main__container__home .about__me a {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 425px) and (max-width: 611px) {
  .wrapper {
    width: 405px;
    margin: 0 auto;
  }

  .main__container__home {
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .main__container__home .about__me {
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }
  .main__container__home .about__me span {
    font-weight: bold;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 40px;
    text-align: center;
  }
  .main__container__home .about__me p {
    text-align: center;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .main__container__home .about__me a {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .main__container__home {
    padding-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .main__container__home .about__me {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .main__container__home .about__me span {
    font-weight: bold;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 40px;
    text-align: center;
  }
  .main__container__home .about__me p {
    text-align: center;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .main__container__home .about__me a {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 30px;
  }
  .main__container__home .profile__picture {
    width: 205px;
    margin: 0 auto;
  }
}
footer {
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  height: 100px;
}
footer .social__network {
  display: flex;
}
footer .social__network li {
  list-style-type: none;
  padding: 20px;
}
footer .social__network a {
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
