* {
  padding: 0;
  margin: 0;
}

.line {
  position: absolute;
  background: #e88a4f;
  width: 28%;
  height: 100%;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

header {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
.header__container .header__logo {
  display: flex;
  align-items: center;
}
.header__container .header__logo .header__line {
  margin-left: 10px;
  margin-right: 10px;
  width: 2px;
  height: 100%;
  background: #000;
}
.header__container .header__logo .header__brand__name {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 24px;
  color: #fff;
}
.header__container .header__links .menu__items {
  display: flex;
}
.header__container .header__links .menu__items .menu__list {
  list-style-type: none;
  padding-right: 25px;
}
.header__container .header__links .menu__items .menu__list .links {
  text-decoration: none;
  color: #000;
  font-size: 23px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
}
.header__container .header__links .menu__items .menu__list .current__link {
  color: #000;
  text-decoration: underline;
  font-size: 23px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
}
.header__container .header__links .menu__items .menu__list .current__link:hover {
  background: #b3792d;
}
.header__container .header__links .menu__items .menu__list .links:hover {
  background: #b3792d;
}
.header__container .header__links .menu__items .menu__list:last-child {
  padding-right: 0px;
}

main {
  padding-top: 40px;
  left: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main__container__contacts {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
.main__container__contacts .discuss {
  height: 550px;
  border: 5px solid #000;
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-direction: column;
}
.main__container__contacts .discuss h1 {
  font-family: "Recursive", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main__container__contacts .discuss .input__line {
  width: 100%;
  height: 2px;
  background: #000;
}
.main__container__contacts .discuss .default {
  background: transparent;
  font-size: 20px;
  font-family: "Recursive", sans-serif;
  border: 0px;
  margin: 15px 0px 15px 0px;
  width: 100%;
  height: 100px;
}
.main__container__contacts .discuss .business {
  background: transparent;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  margin: 15px 0px 15px 0px;
  width: 100%;
  height: 90%;
}
.main__container__contacts .discuss .confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e88a4f;
  width: 100%;
  height: 160px;
  font-size: 26px;
  font-family: "Recursive", sans-serif;
  padding: 10px auto;
  color: #fff;
  cursor: pointer;
  border: 0px;
}

.social__network__contacts {
  display: flex;
  position: absolute;
  left: 3%;
  margin-bottom: -14%;
  flex-direction: column;
  justify-content: flex-end;
}
.social__network__contacts .social {
  height: 40%;
  display: flex;
  flex-direction: column;
  font-family: "Recursive", sans-serif;
}
.social__network__contacts .social .phone {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.social__network__contacts .social .phone span {
  font-size: 23px;
  line-height: 40px;
}
.social__network__contacts .social .email {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.social__network__contacts .social .email span {
  font-size: 23px;
  line-height: 40px;
}
.social__network__contacts .social .networks {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.social__network__contacts .social .networks span {
  font-size: 23px;
  line-height: 40px;
}
.social__network__contacts .social__links ul {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}
.social__network__contacts .social__links ul li {
  list-style-type: none;
}
.social__network__contacts .social__links ul li a {
  text-decoration: none;
}

/*# sourceMappingURL=contacts.css.map */
