* {
  margin: 0;
  padding: 0;
}

.line {
  position: absolute;
  background: #e88a4f;
  width: 41%;
  height: 139%;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

header {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
.header__container .header__logo {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header__container .header__logo .header__line {
  margin-left: 10px;
  margin-right: 10px;
  width: 2px;
  height: 100%;
  background: #000;
}
.header__container .header__logo .header__brand__name {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 24px;
  color: #fff;
}
.header__container .header__links .menu__items {
  display: flex;
}
.header__container .header__links .menu__items .menu__list {
  list-style-type: none;
  padding-right: 25px;
}
.header__container .header__links .menu__items .menu__list .links {
  text-decoration: none;
  color: #000;
  font-size: 26px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
}
.header__container .header__links .menu__items .menu__list .links:hover {
  background: #b3792d;
}
.header__container .header__links .menu__items .menu__list:last-child {
  padding-right: 0px;
}

main {
  overflow: hidden;
  padding-top: 40px;
}

.main__container {
  display: flex;
  justify-content: space-around;
}
.main__container .profile__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30%;
  background: #fff;
}
.main__container .about__me__info {
  position: relative;
  width: 30%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main__container .about__me__info .main__offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.main__container .about__me__info .main__offer h1 {
  text-transform: uppercase;
  font-family: "Recursive", sans-serif;
  font-size: 45px;
  line-height: 40px;
}
.main__container .about__me__info .main__offer span {
  text-transform: uppercase;
  font-family: "Recursive", sans-serif;
  font-size: 28px;
  color: #cf8638;
}
.main__container .about__me__info .main__offer p {
  font-family: "Recursive", sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #000;
}
.main__container .about__me__info .main__offer a {
  text-decoration: underline;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 55px;
  background: #e88a4f;
  width: 120px;
  color: #fff;
}
.main__container .about__me__info .main__offer a:hover {
  background: #b3792d;
}

.social__network {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}
.social__network .social {
  height: 40%;
  display: flex;
  flex-direction: column;
  font-family: "Recursive", sans-serif;
}
.social__network .social .phone {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.social__network .social .phone span {
  font-size: 30px;
  line-height: 40px;
}
.social__network .social .email {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.social__network .social .email span {
  font-size: 30px;
  line-height: 40px;
}
.social__network .social .networks {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.social__network .social .networks span {
  font-size: 30px;
  line-height: 40px;
}
.social__network .social__links ul {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}
.social__network .social__links ul li {
  list-style-type: none;
}
.social__network .social__links ul li a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
