main {
    padding-top: 30px;
    position: relative;
}

main .wrapper {
    display: flex;
    width: 1300px;
    position: relative;
}

.main__title {
    margin-left: 4.5%;
    font-size: $ff;
    font-size: 30px;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.main__container {
    display: flex;
    flex-direction: column;
    height: 480px;
    margin-top: -18%;
    /* top: -26%; */
    position: relative;
    left: 30%;
    .first__column__project, .second__column__project {
        display: flex;
        justify-content: space-between;
        width: 700px;
        height: 300px;
        .projects {
            display: flex;
            flex-direction: column;

            .project__container {
                width: 300px;
                height: 200px;
                background: red;
            }

            p {
                font-family: $ff;
                font-size: 18px;
            }
        }
    }
}

.social__network {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -8%;
    .social {
        height: 40%;
        display: flex;
        flex-direction: column;

        font-family: $ff;
        .phone {
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            span {
                font-size: $fz__social__links;
                line-height: 40px;
            }
        }

        .email {
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            span {
                font-size: $fz__social__links;
                line-height: 40px;
            }
        }


        .networks {
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            span {
                font-size: $fz__social__links;
                line-height: 40px;
            }
        }
    }

    .social__links {

        ul {
            padding-top: 15px;
            display: flex;
            justify-content: space-around;
            li {
                list-style-type: none;
                a {
                    
                    text-decoration: none;
                }
            }
        }
    }
}
