* {
  padding: 0;
  margin: 0;
}

.line {
  position: absolute;
  background: #e88a4f;
  width: 28%;
  height: 100%;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

header {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
.header__container .header__logo {
  display: flex;
  align-items: center;
}
.header__container .header__logo .header__line {
  margin-left: 10px;
  margin-right: 10px;
  width: 2px;
  height: 100%;
  background: #000;
}
.header__container .header__logo .header__brand__name {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 24px;
  color: #fff;
}
.header__container .header__links .menu__items {
  display: flex;
}
.header__container .header__links .menu__items .menu__list {
  list-style-type: none;
  padding-right: 25px;
}
.header__container .header__links .menu__items .menu__list .links {
  text-decoration: none;
  color: #000;
  font-size: 23px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
}
.header__container .header__links .menu__items .menu__list .current__link {
  color: #000;
  text-decoration: underline;
  font-size: 23px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
}
.header__container .header__links .menu__items .menu__list .current__link:hover {
  background: #b3792d;
}
.header__container .header__links .menu__items .menu__list .links:hover {
  background: #b3792d;
}
.header__container .header__links .menu__items .menu__list:last-child {
  padding-right: 0px;
}

main {
  padding-top: 40px;
  left: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main__container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.main__container h1 {
  font-family: "Recursive", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
.main__container p {
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  color: #000;
  line-height: 26px;
}

.soft__skills {
  position: relative;
  left: 4.5%;
  display: flex;
  width: 60%;
  justify-content: space-between;
  text-transform: uppercase;
}
.soft__skills .education {
  width: auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.soft__skills .education h1 {
  font-family: "Recursive", sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
}
.soft__skills .education span {
  font-weight: bold;
  padding-bottom: 10px;
}
.soft__skills .education .university, .soft__skills .education .another__education {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: column;
}
.skills h1 {
  padding-bottom: 10px;
  font-family: "Recursive", sans-serif;
  font-size: 50px;
}
.skills .progress {
  padding-bottom: 20px;
  width: 400px;
  justify-content: space-between;
  display: flex;
}
.skills .progress__bar {
  display: flex;
  background: #ffc175;
  width: 250px;
}
.skills .progress__bar .photoshop {
  width: 100%;
  background: #e88a4f;
}
.skills .progress__bar .figma {
  width: 80%;
  background: #e88a4f;
}
.skills .progress__bar .illustrator {
  width: 70%;
  background: #e88a4f;
}
.skills .progress__bar .tilda {
  width: 93%;
  background: #e88a4f;
}
.skills .progress__bar .html, .skills .progress__bar .css {
  width: 50%;
  background: #e88a4f;
}

.social__network {
  display: flex;
  position: absolute;
  left: 0;
  margin-left: -2.5%;
  margin-bottom: -14%;
  flex-direction: column;
  justify-content: flex-end;
}
.social__network .social {
  height: 40%;
  display: flex;
  flex-direction: column;
  font-family: "Recursive", sans-serif;
}
.social__network .social .phone {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.social__network .social .phone span {
  font-size: 23px;
  line-height: 40px;
}
.social__network .social .email {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.social__network .social .email span {
  font-size: 23px;
  line-height: 40px;
}
.social__network .social .networks {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.social__network .social .networks span {
  font-size: 23px;
  line-height: 40px;
}
.social__network .social__links ul {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}
.social__network .social__links ul li {
  list-style-type: none;
}
.social__network .social__links ul li a {
  text-decoration: none;
}

/*# sourceMappingURL=about.css.map */
