main {
    padding-top: 40px;
    left: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main__container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;

    h1 {
        font-family: $ff;
        font-size: 40px;
        text-transform: uppercase;
    }

    p {
        font-family: $ff;
        font-size: 20px;
        color: #000;
        line-height: 26px;
    }
}

.soft__skills {
    position: relative;
    left: 4.5%;
    display: flex;
    width: 60%;
    justify-content: space-between;
    text-transform: uppercase;

    // EDUCATION
    .education {
        width: auto;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-family: $ff;
            font-size: 50px;
            padding-bottom: 30px;
        }
        
        span {
            font-weight: bold;
            padding-bottom: 10px;
        }

        .university, .another__education {
            height: 150px;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
        }
    }
}

// SKILLS

.skills {
    display: flex;
    flex-direction: column;

    h1 {
        padding-bottom: 10px;
        font-family: $ff;
        font-size: 50px;
    }

    .progress {
        padding-bottom: 20px;
        width: 400px;
        justify-content: space-between;
        display: flex;
    }

    .progress__bar {
        display: flex;
        background: #ffc175;
        width: 250px;

        .photoshop {
            width: 100%;
            background: #e88a4f;
        }

        .figma {
            width: 80%;
            background: #e88a4f;
        }

        .illustrator {
            width: 70%;
            background: #e88a4f;
        }

        .tilda {
            width: 93%;
            background: #e88a4f;
        }

        .html, .css {
            width: 50%;
            background: #e88a4f;
        }
    }
}  

.social__network {
    display: flex;
    position: absolute;
    left: 0;
    margin-left: -2.5%;
    margin-bottom: -14%;
    flex-direction: column;
    justify-content: flex-end;

    .social {
        height: 40%;
        display: flex;
        flex-direction: column;

        font-family: $ff;
        .phone {
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            span {
                font-size: $fz__social__links;
                line-height: 40px;
            }
        }

        .email {
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            span {
                font-size: $fz__social__links;
                line-height: 40px;
            }
        }


        .networks {
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            span {
                font-size: $fz__social__links;
                line-height: 40px;
            }
        }
    }

    .social__links {

        ul {
            padding-top: 15px;
            display: flex;
            justify-content: space-around;
            li {
                list-style-type: none;
                a {
                    
                    text-decoration: none;
                }
            }
        }
    }
}
